<robot
  name="rsc_car">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.058771 0.0059451 -0.02446"
        rpy="0 0 0" />
      <mass
        value="9.2472" />
      <inertia
        ixx="0.21523"
        ixy="-0.00095767"
        ixz="-0.012795"
        iyy="0.17064"
        iyz="-0.00034744"
        izz="0.23708" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rsc_car/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rsc_car/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rwheel_link">
    <inertial>
      <origin
        xyz="0.0030644 0.17299 -0.011684"
        rpy="0 0 0" />
      <mass
        value="9.2472" />
      <inertia
        ixx="0.20951"
        ixy="-0.00077492"
        ixz="-0.002467"
        iyy="0.17064"
        iyz="-0.00066131"
        izz="0.2428" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rsc_car/meshes/rwheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rsc_car/meshes/rwheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rwheel_joint"
    type="continuous">
    <origin
      xyz="0.0600000000000008 -0.167044710646164 -0.0124430740677247"
      rpy="5.23145878809361E-18 0.358432613686689 4.00757307738389E-17" />
    <parent
      link="base_link" />
    <child
      link="rwheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="lwheel_link">
    <inertial>
      <origin
        xyz="-0.011438 -0.17301 0.0038841"
        rpy="0 0 0" />
      <mass
        value="9.2472" />
      <inertia
        ixx="0.23042"
        ixy="-0.00012458"
        ixz="0.016278"
        iyy="0.17064"
        iyz="0.0010111"
        izz="0.2219" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rsc_car/meshes/lwheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rsc_car/meshes/lwheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lwheel_joint"
    type="continuous">
    <origin
      xyz="0.0600000000000003 0.178955289353836 -0.0124430740677254"
      rpy="-3.14159265358979 -1.34536147726938 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="lwheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>
