<launch>
	<arg name="model" default="$(find rsc_car)/robots/rsc_car.urdf"/>
	<!--arg name="world_name" default="$(find rsc_car)/world/iceira302.world"/-->

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!--arg name="world_name" default="$(arg world_name)"/-->
  </include>

	<param name="robot_description" command="python $(find xacro)/xacro.py $(arg model)" />
  <rosparam command="load" file="$(find rsc_car)/config/rsc_car_state.yaml"/>
  <rosparam command="load" file="$(find rsc_car)/config/rsc_car_diff.yaml"/>

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
		args="-x 0 -y 0 -z 0.25 -R 0 -P 0 -Y 0 -unpause -urdf -model rsc_car -param robot_description" 
		respawn="false" output="screen"/> 

	<node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
	   <param name="publish_frequency" type="double" value="30.0" />
	</node>

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
    args="rsc_car_diff_controller 
          rsc_car_state_controller"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/rsc_car_diff_controller/cmd_vel"/>
  </node>

</launch>
